git+https://github.com/dbt-labs/dbt-core.git@1.7.latest#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@1.7.latest#egg=dbt-postgres&subdirectory=plugins/postgres
git+https://github.com/dbt-labs/dbt-bigquery.git@1.7.latest

flake8
pytest
pytest-xdist
pytest-dotenv
tox>=3.13
pyyaml
wheel
